
/***** BASE STYLES *****/


#about, #method, #contact {
font-family: 'Open Sans', sans-serif;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: auto;
    overflow: auto;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}

/********HEADER********/
header {
		height: 300px;
}

img.title-image {
	display: block;
    margin: auto;
    float: left;
}

nav {
	padding: 70px 0 0 0;
	margin: auto;
	float: right;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #828282;
    padding-left:80px;
}


/******ABOUT**********/

#about {
	background:url('images/banner.jpg');
	background-size: cover;
	height: 550px;
}

#about .full-width {
	padding: 30px 0;
}

#about h1 {
	color: white;
	font-size: 36px;
	text-align: left;
	padding-left: 40px;
}

#about p {
	color: white;
	font-size: 21px;
	line-height: 30px;
	padding-right: 550px;
	text-align: center;

}

/**********METHOD********/

#method {
	text-align: center;
}

#method .full-width
	{padding: 40px}

#method h3 {
	color: #Cb9b80;
	font-size: 30px;
	margin: auto;
	padding-bottom: 10px;
}

#method p {
	font-size: 18px;
	line-height: 30px;
	padding: 0 30px 0 30px;
	color: #828282;
}


/*******Contact******/

#contact {
	background-color: #Cb9b80;
}

#contact .full-width {
	padding: 30px 0;
}

#contact .half-width {
	text-align: center;
	color: white;
}

#contact .contact-div {
	padding-top: 80px;
}

#contact #contact-img {
	border: 15px solid #ffffff;
}

#contact h2 {
	font-size: 30px;
}

#contact #p1 {
	font-size: 30px;
}

#contact #p2 {
	font-size: 20px;
}



