
/** BASE STYLES **/
#about, #method, #contact {
	font-family: 'Open Sans', sans-serif;
}


a {
	color: #fff;
}

a:hover {
	color: #828282;
	text-decoration: none;
}

.btn-outline-dark:hover {
    background-color: #Cb9b80 !important;
    color: #fff !important;
}


/** Navbar 
========================== **/
li.nav-item {
	margin-left: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 10px 30px;
}

.logo {
	width: 60%;
}


/** Header
========================== **/
header {
	background: url(images/hero.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0;
}

#content {
	margin: 50px 0 0 20px;
	color: #fff;
    font-size: 20px;
    line-height: 30px;
}

/** Method
========================== **/
#method {
	padding: 70px 0;
}
#method h3, i {
	color: #Cb9b80;
	margin: 10px 0;
}

#method i {
	color: #828282;
}

#method p {
	color: #828282;
	font-size: 18px;
    line-height: 30px;
    padding: 0 30px 0 30px;
}

/** Contact
========================== **/
#contact {
	background-color: #Cb9b80;
	color: #fff;
}

#contact img {
	border: 5px solid white;
}

#contact h2, #contact p {
	font-size: 30px;
}

#email {
	font-size: 20px;
}

/** Footer
========================== **/




