
/** BASE STYLES **/
#about, #method, #contact {
font-family: 'Open Sans', sans-serif;
}

/** Navbar 
========================== **/
li.nav-item {
	margin-left: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 10px 30px;
}

.logo {
	width: 60%;
}


/** Header
========================== **/
header {
	background: url(images/hero.jpg);
    background-size: cover;
    height: 550px;
    color: #fff;
    font-size: 22px;
    background-position: center;
}

.about {
	margin: 50px 0 0 20px;
}